<div class="panel">
    <div class="panel_component_1">
        <div class="encierraBoton">
            <button class="botones" routerLink="informe1">Informe/candidato/departamento</button>
        </div>
       <div class="encierraBoton">
        <button class="botones" routerLink="informe2">Informe/votos en el exterior/pais/candidato</button>
       </div>
        <div class="encierraBoton">
            <button class="botones" routerLink="informe3">Informe/cantidad de votos en blanco/departamento</button>
        </div>
        <div class="encierraBoton">
            <button class="botones" routerLink="informe4">Informe/abstencion por departamento</button>
        </div>
        <div class="encierraBoton">
            <button class="botones" routerLink="informe5">Informe/genero/candidato</button>
        </div>
    </div>
    <div class="panel_component_2">
        <router-outlet></router-outlet>
    </div>
</div>