<div class="inicio">
    <div class="inicio_1">
        <div class="inicio_componente">
            <img src="../../../../assets/votar.jpeg" alt="IMAGEN VOTAR">
            <button class="inicio_componente_boton" routerLink="../votaciones">VOTAR</button>
        </div>
        <div class="inicio_componente">
            <img src="../../../assets/perfil.png" alt="IMAGEN PERFIL" class="imagen2">
            <button class="inicio_componente_boton" routerLink="../perfil">PERFIL</button>
        </div>
    </div>
</div>
