h1 {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}
.total{
    background: #193f6d;
    height:100%;
    width: 100%;
}
.register{
    background: #193f6d;
    height:auto;
}


.custom-form {
    width: 50%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    border-radius: 2.5rem;
    background: linear-gradient(70deg, #fcd116, #003893, #ce1126);
    color: #fff;
    border: solid 3px black;
}
.consulta{
    display: flex;
}
.custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    border: 0 none;
    background: #c4c4c4;
    font-family: 'Libre Baskerville', serif;
    border: solid 2px black;
}

.custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    border: none;
    margin-left: 3px;
    font-weight: bold;
    background: #193f6d;
    width: 30%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    border: solid 2px black;
}

