<table class="table table1">
    <thead>
      <tr>
        <th scope="col">Id Candidato</th>
        <th scope="col">Nombre Candidato</th>
        <th scope="col">
          <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione el pais</option>
              <option value="1">Canada</option>
              <option value="2">Venezuela</option>
              <option value="3">Portugal</option>
              <option value="4">Estados Unidos</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>
  </table>
  