<table class="table table1">
    <thead>
      <tr>
        <th scope="col">Id Candidato</th>
        <th scope="col">Nombre Candidato</th>
        <th scope="col">Hombres</th>
        <th scope="col">Mujeres</th>
        <th scope="col">Otro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>10</td>
        <td>13</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>10</td>
        <td>13</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>10</td>
        <td>13</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
  