<table class="table table1">
  <thead>
    <tr>
      <th scope="col">Id Candidato</th>
      <th scope="col">Nombre Candidato</th>
      <th scope="col">
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione el departamento</option>
            <option value="1">Amazonia</option>
            <option value="2">Antioquia</option>
            <option value="3">Arauca</option>
            <option value="4">Atlántico</option>
            <option value="5">Bolívar</option>
            <option value="6">Boyacá</option>
            <option value="7">Caldas</option>
            <option value="8">Caquetá</option>
            <option value="9">Casanare</option>
            <option value="10">Cauca</option>
            <option value="11">Cesar</option>
            <option value="12">Chocó</option>
            <option value="13">Córdoba</option>
            <option value="14">Cundinamarca</option>
            <option value="15">Guainía</option>
            <option value="16">Guaviare</option>
            <option value="17">Huila</option>
            <option value="18">Guajira</option>
            <option value="19">Magdalena</option>
            <option value="20">Meta</option>
            <option value="21">Nariño</option>
            <option value="22">Norte de Santander</option>
            <option value="23">Putumayo</option>
            <option value="24">Quindio</option>
            <option value="25">Risaralda</option>
            <option value="26">San Andrés y Providencia</option>
            <option value="27">Santander</option>
            <option value="28">Sucre</option>
            <option value="29">Tolima</option>
            <option value="30">Valle del Cauca</option>
            <option value="31">Vaupés</option>
            <option value="32">Vichada</option>
          </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
